.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
   /* grid-gap: 10px;*/
}

.dialogs_items {
    padding: 10px;
   /* background-color:rgb(219, 237, 237);*/
}

.dialog {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.dialog a {
    text-decoration: none;
    color: darkblue;
    padding: 5px;
}

.dialog img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.messages {
    padding: 10px;
   /* background-color:rgb(219, 237, 237);*/

}

.message {

}